* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
}

.linkas {
    color: inherit;
    font-weight: bolder;
}

.mk {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
}

.footer_container {
    height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #d3d0d0;
    position: relative;
}

.footer {
    position: absolute;
    inset: 0;
    display: flex;padding: 20px;
    align-items: center;
    justify-content: center;
}

.nav_container {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.nav_logo img {
    mix-blend-mode: color-burn;
    width: 130px;
}

.nav_li {
    list-style: none;
    font-size: 14px;
    display: flex;
    gap: 5px;
    align-items: center;
    text-transform: capitalize;
    cursor: pointer;
}

.linka {
    color: inherit;
    text-decoration: none;
}

@media screen and (max-width: 500px) {
    .nav_container {
        padding: 0 20px;
    }

    .no_data img{
        width: 100%;
    }
}
